@import url("https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap");

body {
  font-family: "Gowun Dodum", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0px;
  padding: 0px;
}

.header {
  text-align: center;
  position: fixed;
  top: 30px;
  right: 0px;
  left: 0px;
}

.title {
  font-size: 60px;
  font-weight: bold;
  color: #000000;
}

.search {
  margin-top: 8px;
  border-radius: 10px;
  padding: 10px;
  color: #000;
  outline: none;
}

.search::placeholder {
  color: #000;
}

.data {
  background-color: #fff;
  box-shadow: 0px 1px 10px 0px rgba(5, 5, 5, 0.13);
  border-radius: 20px;
  font-size: 25px;
  padding: 15px;
  cursor: pointer;
}

.data:hover {
  box-shadow: 0px 11px 16px 0px rgba(5, 5, 5, 0.23);
  transition: all 0.3s;
}

.data-top {
  display: flex;
  align-items: center;
}

.data-top div {
  margin-left: 10px;
}

.data img {
  width: 50px;
}

.back-arrow {
  margin-top: 15px;
  cursor: pointer;
  position: fixed;
  left: 15px;
  width: 25px;
  height: auto;
}

.github-icon {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 40px;
  height: auto;
}
